[Unit]
Description=GalaxyWiki API
After=network.target

[Service]
WorkingDirectory=/var/www/galaxywiki
ExecStart=/usr/bin/dotnet /var/www/galaxywiki/GalaxyWiki.API.dll
Restart=always
RestartSec=10
SyslogIdentifier=galaxywiki-api
User=ec2-user
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target 